main {
  height: 90dvh;
  width: 100dvw;
  display: grid;
  place-items: center;
  background-image: url(../assets/background.webp);
  margin: 0;
  padding: 0;
}

#quotes {
  width: 80%;
  display: grid;
  place-items: center;
  max-width: 1440px;
  min-width: 800px;
}

#quote-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-auto-flow: column;
  max-height: 40rem;
  border: 10px black solid;
}

#quote-image {
  display: grid;
  place-items: center;
  min-width: 10rem;
  max-height: 30rem;
  padding: 5rem;
}

#quote-content {
  display: grid;
  place-items: center;
  align-content: center;
  gap: 3rem;
}


#quote-and-author {
  font-size: xx-large;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: 2rem;
  max-width: 50%;
}

#description {
  width: 15rem;
  text-align: center;
}